<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Pictures</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Random Pictures Gallery</h1>
    <div class="gallery">
        <img src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg" alt="Flag of USA">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/ba/Flag_of_Germany.svg" alt="Flag of Germany">
        <img src="https://upload.wikimedia.org/wikipedia/en/c/c3/Flag_of_France.svg" alt="Flag of France">
    </div>
    <font color="gold">Owner of this Server is: {{ owner  }}<br>
Server Host Name : {{ ansible_hostname }}<br>
Server OS Family is : {{ ansible_os_family }}<br>
</body>
</html>

